{% extends 'base.html' %}

{% block body %}
<div class="nav-menu fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-dark navbar-expand-lg ">
                <a class="navbar-brand" href="index.html"><span style="font-family: 'Julius Sans One', sans-serif;">ABSTRAKKT <span class="fa fa-scissors"></span></span></a> 
                    
                <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="animated-icon1"><span></span><span></span><span></span></div>
                </button>

                
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a class="nav-link active" href="#home">HOME <span class="sr-only">(current)</span></a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#features">APIs</a> </li>
        
                            <li class="nav-item inline-icons">
                                <a href="twitter.com/Rexidic" class="nav-link"><span class="fa fa-twitter-square"></span></a>
                                <a href="#" class="nav-link"><span class="fa fa-linkedin-square"></span></a>
                                <a href="#" class="nav-link"><span class="fa fa-medium"></span></a>
                            </li>
                            <li class="nav-item"><a href="#get-started" class="btn btn-outline-light my-2 my-sm-0 ml-lg-3" style="cursor: pointer;">Get Started</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
  </div>


  <header class="bg-gradient" id="home">
      <div class="container container-banner">
          <h1 style="margin: 30px;font-family: 'Julius Sans One', sans-serif; " class="animated bounceInDown banner-txt">Document Summarizer Application</h1>
          <div class="separator line-separator"><span class="fa fa-scissors"></span></div>
          <span class="tagline" id="tagline" data-wait=3000 data-words='["Summarize long Text seamlessly...", "Summarize your Documents on the go...🚀", "Extract Keywords and phrases", "Reduce Reading time and Stay Happy 🙂!"]'></span>
      </div>

      
    <div class="mouse-scroll">
        <div class="scroll-down">
            <a href="#get-started">
                <div class="mouse">
                    <span></span></div>

                <div class="arrow">
                    <span></span>
                </div>
            </a>
        </div>
    </div>

  </div>
      
  </header>

  <section class="features animated">
      <div class="container">
          <div class="text-separator" style="font-family:'Julius Sans One', sans-serif;"><span class="feature-text" >Features</span></div>
      </div>

      <div class="container">
          <div class="row">
            <!-- Card -->
            <div class="col-md-4">
            <div class="card features-card animated fadeInUp">
            <div class="card-image" style="display: flex;justify-content: center; margin-top: 20px;">
                <img src="../../static/images/cutting.png" alt="alternative" width="80px" height="80px"></div>
                <div class="card-body text-center"> 
                    <h4 class="card-title">Summarize Text Files & Documents </h4><hr>
                    <p>Summarize Text files and Documents efficiently, applying NLP-based Machine learning Algorithms and Reduce Reading time.</p>
                </div>
            </div></div>
            <!-- end of card -->

            <!-- Card -->
            <div class="col-md-4">
            <div class="card features-card animated fadeInUp">
            <div class="card-image" style="display: flex;justify-content: center; margin-top: 20px;">
                <img src="../../static/images/file.png" alt="alternative" width="80px" height="80px"></div>
                <div class="card-body text-center">
                    <h4 class="card-title">Extract Keywords and Phrases</h4><hr>
                    <p>Automatically Extract keywords and phrases that best describe the Document, to preserve relevant contextual Information.</p>
                </div>
            </div></div>
            <!-- end of card -->

            <!-- Card -->
            <div class="col-md-4">
            <div class="card features-card animated fadeInUp">
                <div class="card-image" style="display: flex;justify-content: center; margin-top: 20px;">   
                <img src="../../static/images/bar-chart.png" alt="alternative" width="80px" height="80px"></div>
                <div class="card-body text-center">
                    <h4 class="card-title">Compare and Evaluate Different Models</h4><hr>
                    <p>Compare the performace of various NLP-based algorithms and select the model which suits your reading preferences effectively.</p>
                </div>
            </div></div>
            <!-- end of card -->
              
          </div>
      </div>
  </section>


  <section class="get-started" id="get-started">

    <div class="container">
        <div class="text-separator" style="font-family:'Julius Sans One', sans-serif;"><span class="feature-text" >Get Started</span></div>
    </div>


<div class="container mb-5 mt-5">
    
        <div class="card card-pricing text-center px-12 mb-12" style="border: 1px solid rgb(206, 201, 218); border-radius: 20px 20px 0 0;">
            <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom text-white shadow-sm" style="background-color: rgb(58,19,158);"><span class="fa fa-scissors"></span></span>
           <div class="container" style="padding: 30px;">
            <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8" >
           
            <form id="form" class="form">

                <div class="form-group">
                <select class="form-control" id="mode" name="mode">
                    <option value="raw_text">Enter Raw Text</option>
                    <option value="pdf">Upload PDF Document</option>
                    <option value="url">Enter URL Link</option>
                </select></div>

                <div class="form-group" id="pdfDiv" style="display:none;">
                    <div class="row">
                        <div class="col-12">
                    <input type="file" accept=".pdf" name="file" class="fileInput" id="fileInput"/>
                    <label id="fileLabel" class="fileLabel" for="fileInput">Upload the File<span class="fa fa-upload" style="margin-left: 15px;margin-top: auto;margin-bottom: auto;"></span></label>
                    <hr>
                    <button type="submit" class="btn btn-summarize">Summarize <i class="fa fa-scissors"></i></button>
                </div>
                </div></div>
           
                <div class="form-group" id="rawDiv" style="display:none;">
                    <div class="row">
                        <div class="col-12">
                        
                        <textarea type="text" class="form-control w-100" id="raw-text" name="rawText" placeholder="Please Type in Raw text you wish to summarize ( Minimum of 30 words)" style="height: 200px;" ></textarea>
                        <hr><button type="submit" class="btn btn-summarize draw-border">Summarize <i class="fa fa-scissors"></i></button>
                    </div>
                </div></div>

                <div class="form-group" id="urlDiv" style="display:none;">
                <div class="row">
                    <div class="col-12">
                    <input type="text" class="form-control w-100" id="url" name="url" placeholder="Please Enter the URL Link to the page you wish to Summarize" style="margin-top: 20px;">
                    <hr>
                    <button type="submit" class="btn btn-summarize">Summarize <i class="fa fa-scissors"></i></button>
                </div>
                </div></div>
            </form>
    </div>
   <div class="col-md-2"></div>

    </div></div>
    </div>
    </div>
  </section>

  <section class="summarized">
    <div class="container">
        <div class="card card-summarize">
            <p style="color: rgb(58,19,158);font-family: 'Julius Sans One', sans-serif;font-size:15px;">
                <span class="fa fa-clock-o"></span>
                <span> Reading Time</span> :- 
                <span class="original-time" id="original_time"></span>
                <span class="summarized-time" id ="summarized_time"></span>
            </p>
            <hr style="margin-top: -5px;" />

            <div class="container" id="summarized-container" style="border: 1px solid rgb(58,19,158); border-radius: 20px;">
            <p class="text--rebecca">Summarized Text :- </p><hr>
            <div class = "summarized-text" id = "summarized-text">

            </div>
            <p class="text--rebecca">Keywords</p>
            <div class="card card-summarize">
                <div class = "keywords" id = "keywords">

                </div>
            </div>  
            
            <div class="container" style="margin: 1rem auto;" class="animated fadeInLeft">
                <button class="btn btn-summarize" onClick="clip_div('summarized-container')">Copy Text <span class="fa fa-clipboard"></span></button>
                <span style="margin: auto 3px;" ></span>
                <button class="btn btn-summarize">Download PDF <span class="fa fa-download"></span></button></div>
              
              <div class="container">
                  <p style="color: crimson">Not Satisfied 😥😩?. Try out these more Advanced Text Summarizers for Free </p>
                  
                  <ul style="list-style-type: none;"> 
                      <li><a style="color: limegreen;" href = "http://freesummarizer.com/">Free-Summarizer</a></li>
                      <li><a style="color: rebeccapurple;" href = "http://textsummarization.net/text-summarizer">Text-Summarization</a></li>
                      <li><a style="color: royalblue;" href = "https://www.textcompactor.com/">TextCompactor</a></li>
                      <li><a style="color: tomato;" href = "https://smmry.com/">Smmry</a></li>
                  </ul>
              </div>
        </section>

        <div class="error"></div>
        
        <div class="loading"></div>


    </div>

   <!-- footer section -->
   <footer>
       <div class="footer-upper">

       </div>
    <div class="footer-div">
      <div class="text-center center-block">
          <p class="footer-text"> &copy Built with <i class="fa fa-heart" style="color: red;"></i> by <span style="color: white;font-family:'Julius Sans One', sans-serif;"><a href="index.html" class="theblackdove">Similoluwah</a></span> 🙂 - 2020</p>
          <hr>
        

          <a href="#"><i class="fa fa-github fa-2x social"></i></a>
          <a href="#"><i class="fa fa-linkedin fa-2x social"></i></a>
          <a href="#"><i class="fa fa-google fa-2x social"></i></a>
          <a href="#"><i class="fa fa-twitter fa-2x social"></i></a>
          
      </div><br>
    </div>
</footer>
<!--end of footer section -->

{% endblock %}